language: java
jdk:
- oraclejdk8
deploy:
  provider: heroku
  api_key:
    secure: WY7rRq8dycoO/TzYu1Wz4zvyNqExNEF8SkxZmsQHasj7yqMJRPHD7mS58fo9xxQQoCHlfF2DGBioCRyTQpM7e5M6phKlSXzRyk97ktz1w7Rvie7aJJiSA4wGNWhtk8TrqZF/XwjmsUbMEa8dx4SnqCLJwRL8Ce7JnOgLcXJqw3Un0pnLQq+2TprALOqaDDjS00jydlfmiGPiWbzla6w7P5KxAhpRv5i6g3hZoNd9RzxIjuYzZ9LrU8H/x+YxahGy59XXtPFwZE36DSQJoaIutmhqWxj+uywIpNbtXEfkOuDKKj9EZ3WLBzI/NlpXbzXUBLnsL0XlC536pg19wG1eL7P7r9BmlwYjeITNjQ/4hJ/8wAx+kO0hzcFmHR2G5CwrxJJgvkyj4ag6yMrhkJ7voHXkfCeZnKEGYDHVooJ9dlDfyE9nyYgO75tQ+GQw7hDZG2zltmTl0KJx74n1w5nwdDs2dA3fD43GKe7i5HkS0aAFvLUzIRx5wijuROM2Hcwc7qygQqG8R0aA1hUDZ+ALQMry8+V7ztbN8fE9ab0eVhZSTWaYioBZZw9m2b5Pq7sEYhDgckNeEpscGYc81fnrhBwBdhVhrSIWvxRnm4Yj5Fez5F0OOvZXMjyAl4zxJ2e81uIi9oW3dWMQipWwcdaZ9x89glqC4h8JqdUsk70CGss=
  app: takeneat-services
  on:
    repo: takeneat/takeneat-services
before_install:
  - pip install --user codecov
after_success:
  - codecov